<h2>Patient Details</h2>
<p>Name: <%= @patient.name %></p>
<p>Doctor: <%= @patient.doctor %></p>
<p>Products: </p>
<table class="table">
  <tr>
    <th>Name</th>
    <th>NDC</th>
    <th>Price</th>
    <th>Instructions</th>
  </tr>
  <% @patient.products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.ndc %></td>
      <td>$<%= product.price %></td>
      <td><%= product.instructions %></td>
    </tr>
  <% end %>
</table>
